html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */
* {
    box-sizing: border-box;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border:2px solid black; */
    
    flex-direction: column;
}


button {
    width:20rem;
    height: 2.5rem;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.signup-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap:10px;
    
   
    
}

.input_value {
    width:20rem;
    height: 2.5rem;
}

p {
    font-weight: bold;
    font-size: 1.3rem;
}

.form-check {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.form-control {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.success {
    border:2px solid green;
}

.error {
    border: 2px solid red;
}
small {
    color: red;
}

.check {
    padding-left: 0.5rem; 
    padding-top:0.2rem;
}