html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** custom styles  */


body {
    background-color: #9fb0c1;
}

.heading {
    display: flex;
    justify-content: space-around;
    background-color: #6b22b4;
    align-items: center;
}

button {
    padding:0.5rem;
}
h1 {
    padding-top: 10px;
    font-size: 40px;
    text-align: center;
    color: white;
    /* background-color: #6b22b4; */
    font-weight: 700;
    height: 50px;
}

li {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 350px;
    margin: 15px;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

img {
    width: 100px;
}

h2 {
    font-weight: 600;
    margin: 6px 0;
    text-align: center;
    font-size: 15px;
}

p {
    margin: 5px 0;
    text-align: center;
    font-size: 12px;
    color: rgb(68, 63, 63);
    line-height: 1rem;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

h3 {
    font-weight: 700px;
    font-size: 25px;

}

.price-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating p {
    color: black;
    font-size: 1rem;
    text-align: left;
}

/* css loader */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite;
  }
  
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .load-icon {
    display: flex;
    justify-content: center;
  }

  .fetch-error p{
    color:red;
    font-weight: bold;
    font-size:1.5rem ;
    margin:2rem;
  }

  .data-fail p{
    color:rgb(19, 19, 219);
    font-weight: bold;
    font-size:1.5rem ;
    margin:2rem;
  }


@media screen and (max-width:375px) {
    li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

}